@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  @apply bg-background text-foreground;
}
