@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: #fffaf2;
  --color-primary-100: #ffebcf;
  --color-primary-200: #ffd2a0;
  --color-primary-300: #ffb370;
  --color-primary-400: #ff954d;
  --color-primary-450: #ff6d00;
  --color-primary-500: #ff6412;
  --color-primary-600: #db470d;
  --color-primary-700: #b72f09;
  --color-primary-800: #931b05;
  --color-primary-900: #7a0e03;

  --color-wolf-50: #f9f5ef;
  --color-wolf-100: #d9d4cd;
  --color-wolf-200: #c0b7ab;
  --color-wolf-300: #a69a88;
  --color-wolf-400: #92836c;
  --color-wolf-500: #7e6d51;
  --color-wolf-600: #736249;
  --color-wolf-700: #64553f;
  --color-wolf-800: #574736;
  --color-wolf-900: #47392b;

  --color-choco-50: #fbf2e9;
  --color-choco-100: #e8ded4;
  --color-choco-200: #d4c8bb;
  --color-choco-300: #bdb2a5;
  --color-choco-400: #8c837a;
  --color-choco-500: #655d55;
  --color-choco-600: #463f37;
  --color-choco-700: #241e17;
  --color-choco-800: #14110d;
  --color-choco-900: #070605;

  --color-dust-50: '#F4EBDE';
  --color-dust-100: '#DBCDB8';
  --color-dust-200: '#BEAD93';
  --color-dust-300: '#9F8D6D';
  --color-dust-400: '#897450';
  --color-dust-500: '#725D34';
  --color-dust-600: '#68532D';
  --color-dust-700: '#594624';
  --color-dust-800: '#4D391C';
  --color-dust-900: '#3F2B12';

  --color-bluel-50: '#E3EFF3';
  --color-bluel-100: '#9ECEE0';
  --color-bluel-200: '#5AAECC';
  --color-bluel-300: '#0091BA';
  --color-bluel-400: '#007DB1';
  --color-bluel-500: '#006AA7';
  --color-bluel-600: '#005F9C';
  --color-bluel-700: '#004F8B';
  --color-bluel-800: '#004079';
  --color-bluel-900: '#00255B';

  --color-cream-50: '#FFF8E5';
  --color-cream-100: '#FBE3A5';
  --color-cream-200: '#F6D06D';
  --color-cream-300: '#F1C031';
  --color-cream-400: '#EEB100';
  --color-cream-500: '#EAA500';
  --color-cream-600: '#EB9800';
  --color-cream-700: '#EB8500';
  --color-cream-800: '#EB7300';
  --color-cream-900: '#EA5000';

  --color-cool-50: #fcfcfc;
  --color-cool-100: #f7f7f7;
  --color-cool-200: #f2f2f2;
  --color-cool-300: #e9e9e9;
  --color-cool-400: #c7c7c7;
  --color-cool-500: #9e9e9e;
  --color-cool-600: #757575;
  --color-cool-700: #616161;
  --color-cool-800: #424242;
  --color-cool-900: #212121;

  --color-warm-50: '#FEFDFA';
  --color-warm-100: '#F8F6F1';
  --color-warm-200: '#F3F1EC';
  --color-warm-300: '#E8E6E1';
  --color-warm-400: '#C6C4BF';
  --color-warm-500: '#A8A6A1';
  --color-warm-600: '#7E7C78';
  --color-warm-700: '#6A6863';
  --color-warm-800: '#4A4844';
  --color-warm-900: '#282723';

  --color-success-50: #f1fbf9;
  --color-success-100: #e0f3ef;
  --color-success-200: #b3e2d6;
  --color-success-300: #83d0bb;
  --color-success-400: #51bca1;
  --color-success-500: #2bad8e;
  --color-success-600: #2bad8e;
  --color-success-700: #008060;
  --color-success-800: #007052;
  --color-success-900: #005437;

  --color-info-50: #f4faff;
  --color-info-100: #d6ebff;
  --color-info-200: #add4ff;
  --color-info-300: #83baff;
  --color-info-400: #65a3ff;
  --color-info-500: #327dff;
  --color-info-600: #2460db;
  --color-info-700: #1947b7;
  --color-info-800: #0f3193;
  --color-info-900: #09227a;

  --color-caution-50: #fffcee;
  --color-caution-100: #fff8d9;
  --color-caution-200: #ffefb4;
  --color-caution-300: #ffe48e;
  --color-caution-400: #ffd972;
  --color-caution-500: #ffc744;
  --color-caution-600: #dba331;
  --color-caution-700: #b78122;
  --color-caution-800: #936215;
  --color-caution-900: #7a4c0d;

  --color-error-50: #fff1ea;
  --color-error-100: #feddcc;
  --color-error-200: #feb399;
  --color-error-300: #fc8066;
  --color-error-400: #f94f3f;
  --color-error-500: #f50202;
  --color-error-600: #d20113;
  --color-error-700: #b0011f;
  --color-error-800: #8e0025;
  --color-error-900: #750028;

  --color-charcoal: '#4D5159';
  --color-charcoal-blue: '#626977';

  --color-tertiary-softblue: '#ECF2FF';
  --color-tertiary-lightred: '#FFE0D9';

  --shadow-100: 0px 4px 4px -2px rgba(36, 30, 23, 0.08), 0px 2px 4px -2px rgba(36, 30, 23, 0.12);
  --shadow-200: 0px 8px 8px -4px rgba(36, 30, 23, 0.08), 0px 4px 6px -4px rgba(36, 30, 23, 0.12);
  --shadow-300: 0px 8px 16px -6px rgba(36, 30, 23, 0.08), 0px 6px 8px -6px rgba(36, 30, 23, 0.12);
  --shadow-400: 0px 8px 24px -4px rgba(36, 30, 23, 0.08), 0px 6px 12px -6px rgba(36, 30, 23, 0.12);
  --shadow-500: 0px 10px 32px -4px rgba(36, 30, 23, 0.1), 0px 6px 14px -6px rgba(36, 30, 23, 0.12);
  --shadow-600: 0px 12px 42px -4px rgba(36, 30, 23, 0.12), 0px 8px 18px -6px rgba(36, 30, 23, 0.12);
  --shadow-700: 0px 14px 64px -4px rgba(36, 30, 23, 0.12), 0px 8px 22px -6px rgba(36, 30, 23, 0.12);
  --shadow-800: 0px 18px 88px -4px rgba(36, 30, 23, 0.14), 0px 8px 28px -6px rgba(36, 30, 23, 0.12);

  --spacing-4\.5: 18px;
  --spacing-5\.5: 22px;
  --spacing-6\.5: 26px;
  --spacing-7\.5: 30px;
  --spacing-8\.5: 34px;
  --spacing-9\.5: 38px;
  --spacing-10\.5: 42px;

  --line-height-xs: 0.875rem;
  --line-height-sm: 1rem;
  --line-height-md: 1.25rem;
  --line-height-normal: 1.375rem;
  --line-height-lg: 1.5rem;
  --line-height-4\.5: 18px;
  --line-height-5\.5: 22px;
  --line-height-6\.5: 26px;
  --line-height-7\.5: 30px;
  --line-height-8\.5: 34px;
  --line-height-9\.5: 38px;
  --line-height-10\.5: 42px;
}

/* 기본 배경색 설정 */
@layer base {
  body {
    @apply dark:bg-choco-800 bg-white;
  }
}
